
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FSM Remote Monitor</title>
  <link rel="stylesheet" href="css/xterm.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/terminal.css">
  <link rel="stylesheet" href="css/terminal2.css">
</head>
<body>
  <h1>FSM Remote Monitor</h1>

  <div class="grid-container">
    <div id="svg-container"></div>
    <div id="terminal"></div>
    <div id="terminal2"></div>
  </div>

  <script src="js/xterm.js"></script>
  <script src="js/index.js"></script>
</body>
</html>
